{% extends 'layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}"
        type="text/css" rel="stylesheet"/>
{% endblock %}
{% block pageH1 %}
  {% if isNew %}
    Добавление вознаграждения
  {% else %}
    Редактирование вознаграждения
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      <form action="" method="post">
        {% if (mode == 'editClientsReward') %}
          <select name="client" id="client" class="hidden">
            <option value="{{ clients[0].getClientId() }}"
                    selected="selected"
            ></option>
          </select>
        {% else %}
          <div class="form-group">
            <label for="client">Клиент</label>
            <select name="client" id="client" class="form-control">
              {% if not isNew %}
                {% set currentClientId = reward.getClient().getClientId() %}
              {% endif %}
              {% for client in clients %}
                <option value="{{ client.getClientId() }}"
                    {% if (not isNew) and (client.getClientId() == currentClientId) %}
                      selected="selected"
                    {% endif %}
                >{{ client.getFullName() }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}

        <div class="form-group">
          <label for="sum">Начислено</label>
          <input class="form-control" type="text" name="sum" id="sum"
              {% if not isNew %}
                value="{{ reward.getSum() }}"
              {% endif %}
          />
        </div>
        <div class="form-group">
          <label for="date">Дата</label>
          <input class="form-control datepicker" type="text" name="date" id="date"
              {% if not isNew and (not reward.getDate() == null) %}
                value="{{ reward.getDate().format("d.m.Y") }}"
              {% endif %}
          />
        </div>
        <button type="submit" id="submit" class="btn btn-success">
          {% if isNew %}
            Добавить
          {% else %}
            Сохранить
          {% endif %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
  <script
      src="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js') }}"></script>

  <script>
    $('.datepicker').datepicker({
      format: 'dd.mm.yyyy',
      weekStart: 1,
      autoclose: true,
      language: 'ru'
    });
  </script>
{% endblock %}