{% extends 'layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}"
        type="text/css" rel="stylesheet"/>
{% endblock %}
{% block pageH1 %}
  {% if isNew %}
    Добавление вознаграждения
  {% else %}
    Редактирование вознаграждения
  {% endif %}
{% endblock %}
{% block content %}
  <div class="panel-body">
    <div id="add_form" class="{% if isNew %}hidden{% endif %}">
      {% form_theme rewardForm 'bootstrap_3_horizontal_layout.html.twig' %}
      {{ form_start(rewardForm) }}
      <div class="row">
        <div class="col-md-8 col-sm-12">
          {{ form_row(rewardForm.client) }}
          {{ form_row(rewardForm.sum) }}
          {{ form_row(rewardForm.date) }}
          {{ form_row(rewardForm.save) }}
        </div>
      </div>
      {{ form_end(rewardForm) }}
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
  <script
      src="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js') }}"></script>

  <script>
    $('.datepicker').datepicker({
      format: 'dd.mm.yyyy',
      weekStart: 1,
      autoclose: true,
      language: 'ru',
      startView: "months",
      minViewMode: "months"
    });
  </script>
{% endblock %}