{% extends 'layout.html.twig' %}
{% block pageH1 %}Маркетинговый отчет{% endblock %}
{% block content %}
  <div class="panel-body">
    <form action="{{ path('marketingReport') }}" method="post">
      <select name="month" class="form-control input-sm" style="width:200px; margin-bottom: 10px;">
        <option value="2015-12-01">Декабрь 2015></option>
        <option value="2015-11-01">Ноябрь 2015></option>
        <option value="2015-10-01">Октябрь 2015></option>
        <option value="2015-09-01">Сентябрь 2015></option>
      </select>
      <button type="submit" id="submit" class="btn btn-default">Обновить</button>
    </form>
    <div class="table-responsive">
      <table class="table table-hover" id="marketing_report">
        <thead>
        <tr>
          <th>Фио клиента</th>
          <th>Остаток на начало месяца</th>
          <th>Сумма покупок</th>
          <th>Сумма к реализации</th>
          <th>Контракты</th>
          <th>Лидерские</th>
          <th>Остаток на конец месяца</th>
        </tr>
        </thead>
        <tbody>
        {% for reportRow in reportRows %}
          <tr>
            <td>{{ reportRow.getClient().getLastName() }} {{ reportRow.getClient().getFirstName() }} {{ reportRow.getClient().getMiddleName() }}</td>
            <td>{{ reportRow.getStartSum() }}</td>
            <td>{{ reportRow.getOrderSum() }}</td>
            <td>{{ reportRow.getStartSum() + reportRow.getOrderSum() }}</td>
            <td>{{ reportRow.getContract() }}</td>
            <td>{{ reportRow.getMaintenance() }}</td>
            <td>{{ reportRow.getStartSum() + reportRow.getOrderSum() - reportRow.getContractSum() - reportRow.getMaintenanceSum }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
{% block javascripts %}
  <script>
    $(document).ready( function () {
      $('#marketing_report').DataTable({
        pageLength: 25
      });
    } );
  </script>
{% endblock %}
