<div class="payment_selection_block" id="{{ id }}">
  <input type="hidden" name="paidByCash" id="paidByCash" />
  <label>Оплата - долг <span id="debt">0</span> руб.</label>
  <a id="{{ id }}AddByReword" class="btn btn-default btn-add-top float_right add_reward_button">Вознаграждением</a>
  <a id="{{ id }}AddByCash" class="btn btn-default btn-add-top float_right">Наличными</a>
  <div class="clear"></div>
  <table class="table table-hover table-striped table-bordered dataTable no-footer" id="ordersList" role="grid" aria-describedby="ordersList_info">
    <thead>
      <tr role="row">
        <th class="sorting_desc" tabindex="0" aria-controls="ordersList" rowspan="1" colspan="1" aria-sort="descending" aria-label="Дата: activate to sort column ascending" style="width: 150px;">Дата</th>
        <th class="sorting_desc" tabindex="0" aria-controls="ordersList" rowspan="1" colspan="1" aria-sort="descending" aria-label="Сумма: activate to sort column ascending">Сумма</th>
        <th class="sorting_desc" tabindex="0" aria-controls="ordersList" rowspan="1" colspan="1" aria-sort="descending" aria-label="Тип: activate to sort column ascending">Тип</th>
        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 15px;"></th>
      </tr>
    </thead>
    <tbody id="{{ id }}List">
      <tr role="row" data-payment-id="" class="cash hidden" id="{{ id }}StubCashRow">
        <td><input class="form-control date date_picker" type="text" value="{{ "now"|date('d.m.Y') }}" /></td>
        <td class="sum"><input class="form-control sum sum_holder" autocomplete="off" spellcheck="false" type="text" id="{{ id }}Inserter" data-rewords="" placeholder="Введите сумму платежа" /></td>
        <td class="type">Наличными</td>
        <td><span class="glyphicon glyphicon-remove remove_payment"></span></td>
      </tr>
      <tr role="row" data-payment-id="" class="reword hidden" id="{{ id }}StubRewordRow">
        <td><input class="form-control date date_picker" type="text" value="{{ "now"|date('d.m.Y') }}" /></td>
        <td class="sum_container">
          <input class="form-control sum" autocomplete="off" spellcheck="false" type="text" data-rewords="" placeholder="Введите сумму платежа" />
          <select name="user_name" class="form-control current_reward"></select>
          <div class="clear"></div>
        </td>
        <td class="type" data-value="1">Вознаграждением</td>
        <td><span class="glyphicon glyphicon-remove remove_payment"></span></td>
      </tr>
      {% for payment in payments %}
        {% if payment.isByCash() %}
          <tr role="row" class="cash" data-payment-id="{{ payment.getOrderPaymentId() }}">
            <td class="date"><input readonly class="form-control date date_picker" type="text" value="{{ payment.getCreatedAt()|date('d.m.Y') }}" /></td>
            <td class="sum"><input readonly class="form-control sum sum_holder" autocomplete="off" value="{{ payment.getSum() }}" spellcheck="false" type="text" id="{{ id }}Inserter" data-rewords="" placeholder="Введите сумму платежа" /></td>
            <td class="type">{{ payment.getName() }}</td>
            <td></td>
          </tr>
        {% else %}
          <tr role="row" data-payment-id="{{ payment.getOrderPaymentId() }}" class="reword">
            <td><input class="form-control date date_picker" type="text" value="{{ payment.getCreatedAt()|date('d.m.Y') }}" readonly /></td>
            <td class="sum_container">
              <input readonly class="form-control sum" autocomplete="off" value="{{ payment.getReward().getRemainingSum() }}" spellcheck="false" type="text" data-rewords="" placeholder="Введите сумму платежа" />
              <select name="user_name" class="form-control current_reward" readonly></select>
              <div class="clear"></div>
            </td>
            <td class="type" data-value="1">{{ payment.getName() }}</td>
            <td><span class="glyphicon glyphicon-remove remove_payment"></span></td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>