{% set route = app.request.get('_route') %}
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Поиск..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </li>
      <li><a href="{{ path('homepage') }}" {% if route == 'homepage' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Главная</a>
      </li>
      <li><a href="{{ path('clientsList') }}" {% if route == 'clientsList' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Клиенты</a>
      </li>
      <li><a href="{{ path('ordersList') }}" {% if route == 'ordersList' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Продажи</a>
      </li>
      <li><a href="{{ path('preOrdersList') }}" {% if route == 'preOrdersList' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Предзаказы</a>
      </li>
      <li><a href="{{ path('debtorsList') }}" {% if route == 'debtorsList' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Должники</a>
      </li>
      <li><a href="{{ path('rewordsList') }}" {% if route == 'rewordsList' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Вознаграждения</a>
      </li>
      <li><a href="{{ path('subscriptionsList') }}" {% if route == 'subscriptionsList' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Лидерские и контракты</a>
      </li>
      <li><a href="{{ path('marketingReport') }}" {% if route == 'marketingReport' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Маркетинговый отчет</a>
      </li>
      <li><a href="{{ path('productsList') }}" {% if route == 'productsList' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Товары</a>
      </li>
      <li><a href="{{ path('issuesList') }}" {% if route == 'issuesList' %}class="active"{% endif %}>
        <i class="fa fa-fw"></i>Задачи</a>
      </li>
    </ul>
  </div>
</div>