{% extends 'layout.html.twig' %}
{% block pageH1 %}Добавление продажи <button type="submit" id="submit" class="btn btn-success float_right">Создать</button>{% endblock %}
{% block content %}
  <form action="{{ path('createOrderAjax') }}" method="post" id="createOrderForm">
    <div class="col-md-6 half_block">
      <div class="form-group">
        <label for="orderCreatedDate">Дата</label>
        <input type="text" id="orderCreatedDate" name="orderCreatedDate" class="form-control date_picker datepicker" value="{{ "now"|date('d.m.Y') }}">
      </div>
      <div class="form-group">
        <label for="userName">ФИО</label>
        <select id="userName" name="user_name" class="form-control">
          {% for client in clients %}
            <option value="{{ client.getClientId() }}">{{ client.getFullName() }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <label>
            <input type="checkbox" id="isPreOrder" name="is_pre_order" value="1">
            <span>Предзаказ</span>
          </label>
        </div>
        <div class="col-md-4" id="plannedDate" style="display: none;">
          <label for="plannedProductDate">План. дата выдачи</label>
          <input type="text" name="planned_product_date" id="plannedProductDate" class="form-control date_picker datepicker" value="">
        </div>
        <div class="col-md-5" id="actualDate" style="display: none;">
          <label for="actualProductDate">Реальная дата выдачи</label>
          <input type="text" name="actual_product_date" id="actualProductDate" class="form-control date_picker datepicker" value="">
        </div>
      </div>
      <div class="form-group">
        {% include 'include/product_selection_block.html.twig' with {'id': 'productsSelection', 'products': products, 'orderItems': [], 'isEditable': 1} %}
      </div>
    </div>
    <div class="col-md-6 half_block">
      <div class="form-group">
        <label for="discount">Скидка</label>
        <input class="form-control" type="text" name="discount" id="discount" placeholder="Введите скидку" />
      </div>
      <div class="form-group">
        {% include 'include/payment_selection_block.html.twig' with {'id': 'paidByCash', 'payments': []} %}
      </div>
      <input type="hidden" id="paymentInfo" name="payment_info" value="" />
      <input type="hidden" id="productsInfo" name="products_info" value="" />
      <input type="hidden" id="cost" name="cost" value="" />
      <input type="hidden" id="debtField" name="debt" value="" />
    </div>
  </form>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js') }}"></script>
  <script src="{{ asset('js/datepicker/standard-datepicker.js') }}"></script>
  <script src="{{ asset('js/lib/bootstrap.typeahead.js') }}"></script>
  <script src="{{ asset('js/lib/jquery.json.min.js') }}"></script>
  <script src="{{ asset('js/ui-kit/NumberFormField.class.js') }}"></script>
  <script src="{{ asset('js/ui-kit/ProductSelectionBlock.class.js') }}"></script>
  <script src="{{ asset('js/ui-kit/PaymentSelectionBlock.class.js') }}"></script>
  <script src="{{ asset('js/orders/OrderPage.js') }}"></script>
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('bundles/app/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ asset('css/orders/manage.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('css/ui-kit/product_selection_block.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('css/ui-kit/payment_selection_block.css') }}" />
{% endblock %}