{% extends 'layout.html.twig' %}
{% block pageH1 %}Список продаж{% endblock %}
{% block content %}
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Фио клиента</th>
            <th>Товары</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Стоимость</th>
            <th>Оплачено наличными</th>
            <th>Оплачено вознаграждением</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.getOrderId() }}</td>
              <td>Клиент</td>
              <td>Пусто</td>
              <td>{{ order.getCreatedAt().format("Y-m-d H:i:s") }}</td>
              <td>{{ order.getStatus() }}</td>
              <td>{{ order.getSum() }}</td>
              <td>Наличка</td>
              <td>Вознаграждение</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <a class="btn btn-default btn-lg btn-block" target="_blank" href="{{ path('createOrder') }}">Добавить продажу</a>
{% endblock %}