{% extends 'layout.html.twig' %}
{% block pageH1 %}Предзаказы{% endblock %}
{% block content %}
  {% form_theme searchForm 'bootstrap_3_horizontal_layout.html.twig' %}
  {{ form_start(searchForm) }}
      {{ form_widget(searchForm.isReleased,    {'attr': {'onchange': "this.form.submit()"}}) }}
      {{ form_widget(searchForm.isNotReleased, {'attr': {'onchange': "this.form.submit()"}}) }}
  {{ form_end(searchForm) }}
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover" id="preOrders_list">
        <thead>
        <tr>
          <th>Клиент</th>
          <th>Планируемая<br>дата выдачи</th>
          <th>Сумма заказа</th>
          <th>Статус</th>
          <th>Товары</th>
          <th>Выдано</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for preOrder in preOrders %}
          <tr>
            <td width="150">
              <a href="{{ path('editClient', {'clientId': preOrder.getClient().getClientId()}) }}">
                {{ preOrder.getClient().getFullName() }}
              </a>
            </td>
            <td>{{ preOrder.getPlannedProductDate()|date('d.m.Y') }}</td>
            <td class="text-right">{{ preOrder.getSum()|localizedcurrency('RUB') }}</td>
            <td>{{ preOrder.getStatusName() }}</td>
            <td>
              {% for orderItem in preOrder.getItems() %}
                {{ orderItem.getProduct().getName() }},
                {{ orderItem.getCount() }} {{ orderItem.getProduct.getPieceName() }}
                <br>
              {% endfor %}
            </td>
            <td>
              {% if preOrder.getActualProductDate() == null %}
                <a href="{{ path('completePreOrder', {'orderId': preOrder.getOrderId()}) }}">Выдать</a>
              {% else %}
                {{ preOrder.getActualProductDate()|date('d.m.Y') }}
              {% endif %}
            </td>
            <td>
              <a href="{{ path('editOrder', {'orderId': preOrder.getOrderId()}) }}" class="glyphicon glyphicon-pencil"></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/data-table/sorting-date-ru.js') }}"></script>
  <script src="{{ asset('js/data-table/sorting-formatted-number.js') }}"></script>
  <script>
    $(document).ready(function() {
      $('#preOrders_list').DataTable({
        pageLength: 25,
        order: [[ 1, "asc" ]],
        columnDefs: [
          { orderable: false, targets: [4, 6] },
          { searchable: false, targets: [1, 2, 3, 5, 6] },
          { type: 'date-ru', targets: [1, 5] },
          { type: 'formatted-num', targets: 2 }
        ]
      });
    });
  </script>
{% endblock %}