{% extends 'layout.html.twig' %}
{% block pageH1 %}Предзаказы{% endblock %}
{% block content %}
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover" id="pre_orders_list">
        <thead>
        <tr>
          <th>Клиент</th>
          <th>Планируемая<br>дата выдачи</th>
          <th>Сумма заказа</th>
          <th>Товары</th>
          <th>Выдано</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for pre_order in pre_orders %}
          <tr>
            <td>
              <a href="{{ path('editClient', {'clientId': pre_order.getClient().getClientId()}) }}">
                {{ pre_order.getClient().getFullName() }}
              </a>
            <td>{{ pre_order.getPlannedProductDate()|localizeddate('long', 'none', null, null, 'dd LLLL yyyy') }}</td>
            </td>
            <td class="text-right">{{ pre_order.getSum()|localizedcurrency('RUB') }}</td>
            <td>
              {% for orderItem in pre_order.getItems() %}
                {{ orderItem.getProduct().getName() }},
                {{ orderItem.getCount() }} {{ orderItem.getProduct.getPieceName() }}
                <br>
              {% endfor %}
            </td>
            <td></td>
            <td>
              <a href="{{ path('editOrder', {'orderId': pre_order.getOrderId()}) }}" class="glyphicon glyphicon-pencil"></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $(document).ready(function() {
      $('#pre_orders_list').DataTable({
        pageLength: 25
      });
    } );
  </script>
{% endblock %}