{% extends 'layout.html.twig' %}
{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block pageH1 %}Список клиентов{% endblock %}
{% block content %}
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    <th>Город</th>
                    <th>E-mail</th>
                    <th>Последняя покупка</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="table_body">
                {% for client in clients %}
                    <tr>
                        <td>{{ client.getClientId() }}</td>
                        <td>
                            <a href="{{ path('editClient', {'clientId': client.getClientId()}) }}">
                                {{ client.getLastName() }} {{ client.getFirstName() }} {{ client.getMiddleName() }}
                            </a>
                        </td>
                        <td>{{ client.getCity() }}</td>
                        <td>{{ client.getEmail() }}</td>
                        <td>{{ client.getLastOrderDateStr() }}</td>
                        <td><a href="{{ path('deleteClient', {'clientId': client.getClientId()}) }}" class="glyphicon glyphicon-remove"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-default btn-lg btn-block" target="_blank" href="{{ path('createClient') }}">Добавить клиента</a>
{% endblock %}