<div>

    <a class="client-navbar-element col-md-15 col-md-3 {% if (mode == 'editClient') %}active{% endif %}" href="{{ path('editClient', {'clientId': client.getClientId()}) }}">
      Информация о клиенте
    </a>

    <a class="client-navbar-element col-md-15 col-md-3 {% if (mode == 'diseaseHistory') %}active{% endif %}" href="{{ path('diseaseHistory', {'clientId': client.getClientId()}) }}">
      История болезни
    </a>

    <a class="client-navbar-element col-md-15 col-md-3 {% if (mode == 'clientsOrders') %}active{% endif %}" href="{{ path('clientsOrdersList', {'clientId': client.getClientId()}) }}">
      Товарный объем
    </a>

    <a class="client-navbar-element col-md-15 col-md-3 {% if (mode == 'clientsSubscriptions') %}active{% endif %}" href="{{ path('clientsSubscriptionsList', {'clientId': client.getClientId()}) }}">
      Лидерские и контракты
    </a>

    <a class="client-navbar-element col-md-15 col-md-3 {% if (mode == 'clientsRewards') %}active{% endif %}" href="{{ path('clientsRewards', {'clientId': client.getClientId()}) }}">
      Вознаграждения
    </a>
</div>
<div class="clear"></div>